<template>
  <div class="about" style="text-align: center">
    <p>
        Created by <a href="https://twitter.com/dagur">@dagur</a>
    </p>
  </div>
</template>
<style>
html {
  overflow-y:scroll;
}
</style>
