<template>
  <div style="margin: auto auto; max-width: 40em;">
    <Intro />
    <h2>Completed flipstarters</h2>
    <b-pagination v-model="pagination.currentPage" :total-rows="rows" :per-page="pagination.perPage"
    />
    <div v-for="flipstarter of pCompleted" :key="flipstarter.name" :per-page="pagination.perPage"
      :current-page="pagination.currentPage" style="max-width: 40em; margin: auto auto;">
        <CampaignJumbotron :f=flipstarter />
    </div>
    <b-pagination v-model="pagination.currentPage" :total-rows="rows" :per-page="pagination.perPage"
    />

  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import flipstarters from '@/flipstarters.json';
import CampaignJumbotron from '@/components/CampaignJumbotron.vue';
import Intro from '@/components/Intro.vue';

Vue.filter('status', (status: string) => {
  //
  const uppercaseFirst = status.charAt(0).toUpperCase() + status.slice(1);
  return `Status: ${uppercaseFirst}`;
});

@Component({
  components: {
    CampaignJumbotron,
    Intro,
  },
})

export default class CompletedFlipstarters extends Vue {
  @Prop() private msg!: string;

  pagination = {
    perPage: 10,
    currentPage: 1,
    completed: flipstarters.filter((f) => {
      const s = f.status;
      return s === 'success' || s === 'expired';
    }),
  }

  rows = this.pagination.completed.length;

  /* eslint class-methods-use-this: ["error", { "exceptMethods": ["data"] }] */
  data() {
    return {
    };
  }

  get pCompleted() {
    return this.pagination.completed.slice().reverse().slice((this.pagination.currentPage - 1)
      * this.pagination.perPage, this.pagination.currentPage * this.pagination.perPage);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
a {
  color: #000000;
}
</style>
