<template>
  <div>
    <h1>Flipstarters on Bitcoin Cash</h1>
    <p>
        Flipstarter provides a way for any project to engage with potential funders in a way
        that encourages accountability for projects and fairness for funders.
    </p>
    <p>
        This page keeps an overview of active and historical flipstarters.
        Anything missing? Submit an issue or MR to <a href="https://gitlab.com/dagurval/flipstarters" style="color: blue">the gitlab repository</a>
    </p>
    <p>
        So far, total of
          <span style="font-weight: bolder;">{{ totalFunded }} BCH</span>
        has been funded using flipstarter.
    </p>
    <p>
        <b-button size="lg" href="https://flipstarter.cash">Run your own flipstarter</b-button>
    </p>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import flipstarters from '@/flipstarters.json';

@Component
export default class About extends Vue {
  /* eslint class-methods-use-this: ["error", { "exceptMethods": ["data"] }] */
  data() {
    const successful = flipstarters.filter((f) => f.status === 'success');
    // eslint-disable-next-line
    const totalFunded = successful.reduce((a: any, b: any) => {
      const aa = typeof a === 'number' ? a : a.amount;
      const bb = typeof b === 'number' ? b : b.amount;
      return aa + bb;
    });
    return {
      totalFunded,
    };
  }
}
</script>
